#parent {
    display: flex;
    /*flex-direction: column;*/ /*
        CONVERTS the main axis go from the default of horizontal to vertical
    */
    justify-content: flex-end;
}

.flex-item {
    height: 100px;
    width: 100px;
    color: lightblue;
    background-color: rebeccapurple;
    border: 1px solid white;
}